@page
@model WebApplication3.Pages.HumanResourceModel
@{
    ViewData["Title"] = "AUTHENTICATED PAGE";

}


<div class="text-center">
    <h1 class="display-4">AUTHENTICATED PAGE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>






